@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

.text-golden-100 {
  color: #bfb3ac;
}

.text-golden-200 {
  color: #91867d;
}
